body{
    color: #f4f4f4;
}

.aRegister{
    color: #bfff9a;
    font-size: 1.2rem;
}

.aRegister:hover{
    text-decoration: none;
    color: #92f857;
}

.index {
    width: 100%;
    height: 100vh;
    background: url(../img/plomykowka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.index .btn{
    width: 75%;
}

.btn{
    margin-top:25px;
}

.btn-light{
    background-color: #f4f4f4;
}

/* register.html */

#register,
#welcome{
    padding-bottom: 30px;
}

#wholeRegCol,
#logForm{
    text-align: center;
}

.g-recaptcha {
    margin: 0 auto;
    width: 304px;
}



@media (min-width: 768px){

    .index .btn{
        width: auto;
    }

    #wholeRegCol,
    #logForm{
        padding: 50px 70px;
        text-align: left;
    }

    .g-recaptcha {
        margin: auto;
        width: auto;
    }
}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}